<div>
    <h1>Book Details</h1>
    <hr />
    <h4>All the Books</h4>
    <table class="table table-bordered" style="width:80%">
        <thead>
            <tr><th>Book ID</th><th>Book Name</th><th>Book Category</th><th>Book Price</th></tr>
        </thead>
        <tbody data-bind="foreach: books">
            <tr>
                <td><a herf="#" class="btn btn-primary" data-bind="text:Id,click:function(){$parent.getBook(Id)}"></a></td>
                <td data-bind="text: Name"></td>
                <td data-bind="text: Category"></td>
                <td data-bind="text: Price"></td>
            </tr>
        </tbody>
    </table>
    <hr />
    <h4>Single Book (Click the ID above to get single book details)</h4>
    <table class="table table-bordered" style="width:60%">
        <tbody data-bind="with: book">
            <tr>
                <td width="20%">Book ID</td>
                <td data-bind="text:Id"></td>
            </tr>
            <tr>
                <td>Book Name</td>
                <td data-bind="text:Name"></td>
            </tr>
            <tr>
                <td>Book Category</td>
                <td data-bind="text:Category"></td>
            </tr>
            <tr>
                <td>Book Price</td>
                <td data-bind="text:Price"></td>
            </tr>
        </tbody>
    </table>
</div>