<div>
    <h1>Weather Details</h1>
    <table class="table table-bordered" style="width: 30%">
        <tr>
            <td style="width: 40%">City Name</td>
            <td data-bind="text: City"></td>
        </tr>
        <tr>
            <td>Weather Main</td>
            <td data-bind="text: wMain"></td>
        </tr>
        <tr>
            <td>Weather Description</td>
            <td data-bind="text: wDesc"></td>
        </tr>
        <tr>
            <td>Weather Longitude </td>
            <td data-bind="text: wLon"></td>
        </tr>
        <tr>
            <td>Weather Latitude  </td>
            <td data-bind="text: wLat"></td>
        </tr>
    </table>
</div>
